.landing {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: stretch;
}

.landing--container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
    width: 100%;
}

.landing--img {
    --img-size: clamp(200px, 25vw, 600px);
    position: absolute;
    left: 35%;
    transform: translateX(-50%);
    width: var(--img-size);
    height: var(--img-size);
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s;
    z-index: 50;
}

.landing--container-left {
    width: 35vw;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.lcl--content {
    margin: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.landing--social {
    font-size: 35px;
    margin: 0 1rem;
    transition: transform 0.5s;
}

.landing--social:hover {
    transform: scale(1.2);
}

.landing--container-right {
    flex: 65%;
    height: 100%;
    background-color: #eaeaea;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.lcr--content {
    width: 45%;
    margin-right: 7rem;
    font-family: var(--primaryFont), sans-serif;
    font-style: normal;
}

.lcr--content--title {
    font-weight: 500;
    font-size: 1.25rem;
    margin-bottom: -0.85rem;
    opacity: 0.8;
}

.lcr--content h1 {
    font-weight: 600;
    font-size: 3.25rem;
    line-height: 110%;
    margin: 1rem 0;
}

.lcr--content p {
    margin-top: 1.45rem;
    font-weight: 500;
    font-size: 1.15rem;
    font-style: italic;
    opacity: 0.7;
}

.lcr--content--author {
    font-weight: 500;
    font-size: 1.15rem;
    opacity: 0.8;
    margin-top: 1rem;
    text-align: right;
    padding-right: 2rem;
}

.lcr-buttoncontainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.lcr-buttons {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    font-family: var(--primaryFont), sans-serif;
}

@media (min-width: 2560px) {
    .landing--social {
        font-size: 50px;
    }

    .lcr--content--title {
        font-size: 1.9rem;
    }

    .lcr--content h1 {
        font-size: 5rem;
    }

    .lcr--content p {
        font-size: 1.9rem;
    }

    .lcr--content--author {
        font-size: 1.5rem;
    }

    .lcr-buttons {
        padding-top: 2rem;
    }

    .lcr-buttons button {
        width: 220px;
        height: 70px;
        font-size: 1.45rem;
    }

    .arrow-scroll {
        bottom: 6%;
    }
}

@media (max-width: 1100px) {
    .landing--img {
        --img-size: clamp(200px, 28vw, 350px);
        top: 25%;
    }

    .lcl--content {
        margin: 2rem;
    }

    .lcr--content--title {
        font-size: 1.1rem;
    }

    .lcr--content--author {
        font-size: 1.1rem;
    }

    .lcr--content h1 {
        font-size: 2.25rem;
    }

    .lcr--content p {
        margin-top: 0.3rem;
        margin-bottom: 1rem;
        font-weight: 500;
        font-size: 1rem;
    }

    .lcr--content--author {
        margin-top: 0.3rem;
        margin-bottom: 1rem;
        font-weight: 500;
        font-size: 1rem;
        text-align: right;
    }

    .lcr-buttons {
        width: 200px;
        height: 120px;
        gap: 1.5rem;
        align-items: flex-start;
    }
}

@media (max-width: 900px) {
    .landing--img {
        --img-size: clamp(180px, 35vw, 320px);
        top: 35%;
    }

    .landing--social {
        font-size: 30px;
    }

    .lcr--content {
        width: 60%;
        margin-top: 10%;
        margin-right: 6%;
    }

    .lcr-buttons {
        margin-top: 1rem;
        flex-direction: column;
        width: 200px;
        height: 120px;
        align-items: flex-start;
    }

    .lcr-buttons button {
        width: 180px;
    }

    .lcr--content h1 {
        font-size: 1.75rem;
    }

}

@media (max-width: 700px) {
    .landing--img {
        --img-size: clamp(180px, 30vw, 320px);
        left: 35%;
    }

}


@media (max-width: 600px) {
    .landing--container {
        flex-direction: column;
        justify-content: space-between;
    }

    .landing--img {
        --img-size: 200px;
        left: 50%;
        top: 30%;
        border: 5px solid #eaeaea;
        transform: translate(-50%, -50%);
    }

    .landing--container-left {
        flex: initial;
        width: 100%;
        height: 20%;
    }

    .landing--social {
        display: none;
    }

    .landing--container-right {
        box-sizing: border-box;
        padding: 2rem 2rem;
        flex: initial;
        height: 70%;
        /*width: 100%;*/
        background-color: #eaeaea;
        align-items: center;
        justify-content: start;
    }

    .lcr--content {
        margin-top: 30%;
        margin-right: initial;
        width: 100%;
    }

    .lcr--content--title {
        font-size: 1rem;
        text-align: center;
    }

    .lcr--content--author {
        font-size: 1rem;
        text-align: center;
    }

    .lcr--content h1 {
        font-size: 2.5rem;
        text-align: center;
    }

    .lcr--content p {
        font-size: 0.95rem;
        text-align: center;
        margin: 0 auto;
        width: 90%;
    }

    .lcr-buttons {
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: start;
    }

    .lcr-buttons button {
        margin-top: 0;
    }

    .custom-shape-divider-top-1757341859 {
        transform: rotate(180deg);
        position: absolute;
        top: 20vh;
        width: 100%;
        overflow: hidden;
    }

    .custom-shape-divider-top-1757341859 svg {
        display: block;
    }

    .custom-shape-divider-bottom-1757341859 .shape-fill {
        fill: #823ae0;
    }

    .arrow-scroll {
        display: none;
    }
}

@media (max-width: 500px) {
    .lcr--content {
        margin-top: 6rem;
    }
    .custom-shape-divider-top-1757341859 {
        top: 20vh;
    }

}

@media (max-width: 400px) {
    .landing--container-left {
        height: 25%;
    }
    .lcr--content {
        margin-top: 8rem;
    }
    .custom-shape-divider-top-1757341859 {
        top: 22vh;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {
    .landing {
        height: 100%;
    }

    .landing--img {
        --img-size: 150px;
        left: 50%;
        top: 20%;
    }
}


.arrow-scroll {
    position: absolute;
    left: 50%;
    bottom: 8%;
    height: 100px;
    z-index: 1;
}

.arrow {
    border: solid #823ae0;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 12px;
    position: absolute;
    top: 70%;
    transform: translate(-50%) rotate(45deg);
}

.arrow:nth-child(2) {
    animation: arrow1 1.5s ease-in-out infinite;
}

.arrow:nth-child(3) {
    animation: arrow2 1.5s ease-in-out infinite;
}

@keyframes arrow1 {
    100% {
        opacity: 0;
        top: 150%
    }
}

@keyframes arrow2 {
    100% {
        opacity: 0;
        top: 100%
    }
}